
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');


:root{
    --cor-um:#F5F5DD;
    --cor-dois:#9E3A35;
    --cor-tres:#F00B00;
    --cor-quatro:#d0d0bb;

    --fonte:"Workbench", sans-serif;;
}

*{
    margin: 0;
    padding: 0;

}


body {
    height: 100vh;
    background-color: var(--cor-um);
    box-sizing: border-box;
    color: var(--cor-dois);

    
}
strong {
    color: var(--cor-tres);
}
.apresentacao{
    padding: 8% 12%;
    margin: 1%;
    display: flex;
    justify-content:space-evenly;
    font-family: var(--fonte);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
    flex-direction: row;
    gap: 2.5rem;
    position: relative;
    padding-bottom: 6.25rem;
}
.apresentacao_c{
    width: 50%;
}
.apresentacao_t{
    align-items:center;
    font-size: 4.063rem;
}
.apresentacao_a{
    align-items:stretch;
    font-size: 2.813rem;
}
.responsivo-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
     font-family: var(--fonte);
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "BLED" 1,
        "SCAN" 0;
    align-items: center;
    text-decoration: none;
}
    .responsivo-container_contain:hover{
        background-color: var(--cor-quatro);
        ;
        
    }
    .responsivo-container_contain{
        border: 0.125rem solid var(--cor-tres);
        width: 100%;
        text-align: center;
        border-radius: 0.625rem;
        padding: 0.781rem 0;
        text-decoration: none;
        color: var(--cor-tres);
        display: flex;
        flex-direction: column;

}
.pezinho{
    display: flex;
    justify-content:flex-start;
    font-family: var(--fonte);
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
    flex-direction: row;
    gap: 2.5rem;
    color: var(--cor-quatro);
    background-color: var(--cor-dois);
    padding: 2.063rem;
    bottom: 1.563rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.cabecinha{
    text-decoration: none;
    justify-content:space-evenly;
    font-family: var(--fonte);
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
    flex-direction: row;
    gap: 2.5rem;
    color: var(--cor-quatro);
    background-color: var(--cor-dois);
    padding: 1.875rem;
    bottom: 1.875rem;
    
}
.cabecinha_menu{
   padding-left: 5rem;
    display: flex;
    gap: 5rem;
    
}
.imagens{
    border: var(--cor-dois);
    border-style: groove;
    border-width: 0.625rem;
}
.apresentacao_imagens{
    width: 25%;
}



a { color: inherit; } 

@media (max-width:1200px){
    .apresentacao{
        flex-direction: column;
        padding: 5%;
    }
    .apresentacao_c{
        width: auto;
    }
    .cabecinha{
        padding: 10%;
        

    }
    .pezinho{
        padding: 5%;
        position: relative;
    }


}